@model VehicleMakeViewModel

@{
    ViewData["Title"] = "Vehicle Make";
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <script>
        alert('@errorMessage');
    </script>
}

<h1>Vehicle Make</h1>

<p>
    @await Html.PartialAsync("AddVehicleMake", new VehicleMakeDto())
</p>
<table class="table">
    <thead>
        <tr>
            <th><a asp-action="Make" asp-route-sortOrder="@ViewData["NameSort"]">@Html.DisplayNameFor(model => model.VehicleMakes[0].Name)</a></th>
            <th><a asp-action="Make" asp-route-sortOrder="@ViewData["AbrvSort"]">@Html.DisplayNameFor(model => model.VehicleMakes[0].Abrv)</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VehicleMakes)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Abrv</td>
                <td>
                    @Html.ActionLink("Edit", "EditVehicleMake", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "DeleteVehicleMake", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>