@model VehicleModelViewModel

@{
    ViewData["Title"] = "Vehicle Model";
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <script>
        alert('@errorMessage');
    </script>
}

<h1>Vehicle Model</h1>

<p>
    @await Html.PartialAsync("AddVehicleModel", new VehicleModelDto(Model.VehicleMakes))
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Abrv</th>
            <th>VehicleMake</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VehicleModels)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Abrv</td>
                <td>@if (item.VehicleMake != null) { @item.VehicleMake.Abrv}</td>
                <td>
                    @Html.ActionLink("Edit", "EditVehicleModel", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "DeleteVehicleModel", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>