@model VehicleModelViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>&#x2714</th>
            <th>Name</th>
            <th>Abrv</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VehicleModels)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Abrv</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>